<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registro del Usuario</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/dis.css">

<script src='https://www.google.com/recaptcha/api.js'></script>

</head>
<body>

  <br><br><br>

<h1>Formulario de Registro</h1>
<form id="reCaptcha" action="/addUser" method="post" class="form-registrer" onsubmit="return validar();">

  <h2 class="form-titulo"> Crear tu Cuenta </h2>
  <div class="contenedor-inputs">

    <input type="text" id="nombre" name="nombre" placeholder="Nombres" class="input-100" >

    <input type="text" id="apeliidoP" name="apellidoP" placeholder="Apellido Paterno" class="input-48" >
    <input type="text" id="apeliidoM" name="apellidoM" placeholder="Apellido Materno" class="input-48" >
      <span id="error3"></span>
    <input type="email" id="email" name="email" placeholder="Correo Electronico" class="input-100" >

    <!-- <input type="text" id="idUser" name="idUser" placeholder="ID de Usario" class="input-100" required> -->
    <input type="password" id="clave" name="clave" placeholder="Contraceña" class="input-48" >
    <input type="password" id="clave2" name="clave2" placeholder="Repita la Contraceña" class="input-48" >
    <span id="error2"></span>
    <input type="text" id="celular" name="celular" placeholder="Telefono" class="input-100" >
    <input type="text" id="direccion" name="direccion" placeholder="Direccion" class="input-100" >
    <div class="form-group">
        <div class="g-recaptcha" data-sitekey="6LdxcI8UAAAAANEc3nAaTTbMcJI1Fe-0DeNsasrD"></div>
    </div>
    <input type="submit" value="Registrar Usuario" class="btn-enviar">
    <p class="form-link">¿Ya tienes una cuneta? <a href=""> Ingresa aqui </a></p>


  </div>

</form>

<script>

document.getElementById('reCaptcha').addEventListener('submit', submitForm);
  function submitForm(e){
   // e.preventDefault();
    const nombre = document.querySelector('#nombre').value;
    const apellidoP = document.querySelector('#apeliidoP').value;
    const apellidoM = document.querySelector('#apeliidoM').value;
    const email = document.querySelector('#email').value;
    const clave = document.querySelector('#clave').value;
    const clave2 = document.querySelector('#clave2').value;
    const celular = document.querySelector('#celular').value;
    const direccion = document.querySelector('#direccion').value;
    const captcha = document.querySelector('#g-recaptcha-response').value;

    fetch('http://localhost:3000/reCAPTCHA', {
      method:'POST',
      headers: {
        'Accept': 'application/json, text/plain, */*',
        'Content-type':'application/json'
      },
      body:JSON.stringify({nombre:nombre, apellidoP: apellidoP, apellidoM: apellidoM, email:email, clave:clave, clave2:clave2, celular:celular, direccion:direccion, captcha: captcha})
    })
    .then((res) => res.json())
    .then((data) => {
      if(data.msg == "Please select captcha"){
        alert(data.msg);
      }else{
        console.log(data);
      }

    });
  }
</script>

<!-- <div class="container my-5 text-center">
  <button class="btn btn-danger w-100" onclick="traer()">Obtener</button>
  <div class="mt-5" id="contenido">


  </div>

</div> -->

<!-- este scrip sireve para obtener todos los usuarios y verificar si existen o no
<script>
var contenido = document.querySelector('#contenido')
  function traer(){
    fetch('http://localhost:4000/listaUser')
      .then(res => res.json())
      .then(data =>{
        const resultado = data.find( traer => traer.nombre === 'Jessica' );
        console.log(resultado);
        if(resultado != null){
          console.log("existe")
          contenido.innerHTML = `<p>ya existe</p>`
        }else{
          console.log("no existe")
          contenido.innerHTML = ` <p>puede continuar</p> `
        }
    })
  }
</script> -->

  <i class="fas fa-ellipsis-v btn-menu"></i>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="/js/validar.js"></script>
</body>
</html>
