<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/ventana2.css">
  <title>doc</title>
</head>
<body>

    <div class="Logo">
        <img src="/img/logo.svg" alt="logo" />
        <div class="login">
          <li> <a href="/log">Iniciar Sesion</a> </li>
        </div>		
      </div>
      <div class="nav">
        <div class="wrap">
            <div class="logo logo_small">UATF</div>
            <nav>
              <ul>
                <li><a href="/#">INICIO</a></li>
                <li><a href="/mostrarinsertar">Añadir Producto</a></li>		
                            
              </ul>
            </nav>
        </div>
      </div>

<form class="" action="/test" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="price" placeholder="price">
  <input type="text" name="description" placeholder="description">
  <input type="submit"  value="enbiar">


</form>
<i class="fas fa-ellipsis-v btn-menu"></i>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
